% Minimal grid using plain tabular (no extra packages)
\begin{tabular}{l*{\VAR{ blocks|length }}{c}}
\hline
\textbf{Descrittore}
\BLOCK{ for block in blocks }
 & Q\VAR{ loop.index }
\BLOCK{ endfor }\\
\hline
Comprendere
\BLOCK{ for block in blocks }
 & \VAR{ (block.metadata.get('pts') or [None,None,None,None])[0] if block.metadata else '' }
\BLOCK{ endfor }\\
Individuare
\BLOCK{ for block in blocks }
 & \VAR{ (block.metadata.get('pts') or [None,None,None,None])[1] if block.metadata else '' }
\BLOCK{ endfor }\\
Sviluppare
\BLOCK{ for block in blocks }
 & \VAR{ (block.metadata.get('pts') or [None,None,None,None])[2] if block.metadata else '' }
\BLOCK{ endfor }\\
Argomentare
\BLOCK{ for block in blocks }
 & \VAR{ (block.metadata.get('pts') or [None,None,None,None])[3] if block.metadata else '' }
\BLOCK{ endfor }\\
\hline
\end{tabular}
