\documentclass{article}
\begin{document}
\section*{\VAR{ title or "Document" }}
\begin{enumerate}
\BLOCK{ for block in blocks }
  \item \VAR{ block.render() }
\BLOCK{ endfor }
\end{enumerate}
\end{document}

