\documentclass{article}

\title{\VAR{title}}\author{}\date{}

\begin{document}
\maketitle

\section*{Quesiti}
\begin{enumerate}
\BLOCK{ for block in blocks }
\item \BLOCK{ if metadata }\textbf{id:} \VAR{ block.bit.id }\\ \textbf{name:} \VAR{ block.bit.name }\\ \textbf{tags:} \VAR{ block.bit.tags|join(", ")|replace("#", "\#") } \\[4pt] \BLOCK{ endif }\VAR{ block.render() }
\BLOCK{ endfor }
\end{enumerate}

\BLOCK{ if constants }
\section*{Costanti}
\begin{tabular}{lcl}
\textbf{Nome} & \textbf{Simbolo} & \textbf{Valore}\\
\BLOCK{ for constant in constants }
\VAR{ constant.name } & \VAR{ constant.symbol } & \VAR{ constant.value }\\
\BLOCK{ endfor }
\end{tabular}
\BLOCK{ endif }

\end{document}
