\documentclass{article}

\usepackage{standalone}
\usepackage[fontsize=\VAR{fontsize}]{scrextend}
\usepackage[utf8]{inputenc}
\usepackage[italian]{babel}
\usepackage{fancyhdr}
\usepackage{geometry}
\usepackage{xcolor}
\usepackage{enumitem}
\usepackage{float}
\usepackage{tabularx}
\usepackage{multirow}
\usepackage{booktabs}
\usepackage{pgfplots}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
\usepackage{siunitx}

\sisetup{output-decimal-marker={,},exponent-product=\cdot,per-mode=fraction}

\DeclareSIUnit\atm{atm}
\DeclareSIUnit\dioptre{D}
\DeclareSIUnit\year{anno}

\usetikzlibrary{quotes,angles,patterns,arrows,arrows.meta,calc,intersections,shapes,positioning,decorations.pathreplacing,decorations.markings}

\tikzset{point/.style={circle,fill,black!80,inner sep=0pt,minimum size=#1,opacity=0.9}}
\tikzset{point/.default=3pt}
\tikzset{vector/.style={line width=1pt,postaction={decorate,decoration={markings,mark=at position 1 with {\arrow{latex}}}}}}
\tikzset{block/.style={rectangle,fill=black!30,draw,minimum size=#1,opacity=0.9,align=center}}
\tikzset{block/.default=15pt}
\tikzset{ball/.style={circle,fill=black!30,draw,minimum size=#1,opacity=0.9}}
\tikzset{ball/.default=5pt}
\tikzset{pulley/.style={draw=black,line width=0.2pt,circle,minimum size=#1,inner sep=0pt,fill=black!10}}
\tikzset{pulley/.default=20pt}
\tikzset{rod/.style={line width=1.2pt}}
\tikzset{rope/.style={line width=1pt}}
\tikzset{spring/.style={decorate,decoration={coil,amplitude=5pt,segment length=#1,aspect=0.3}}}
\tikzset{spring/.default=5pt}
\tikzset{wall/.style={black!10,pattern=north east lines,opacity=0.3}}
\tikzset{ray/.style={line width=0.8pt,postaction={decorate,decoration={markings,mark=at position 0.5 with {\arrow{>}}}}}}
\tikzset{arrow/.style={-latex}}
\tikzset{object/.style={line width=1pt,orange,-latex}}
\tikzset{image/.style={line width=1pt,blue,-latex}}
\tikzset{doublearrow/.style={<->,>=latex,thick}}
\tikzset{brace/.style={decorate,decoration={brace,amplitude=#1}}}
\tikzset{brace/.default=5pt}

\pgfplotsset{compat=1.16}

\newcommand{\half}{$\frac{1}{2}$}
\newcommand{\vf}{\framebox{V} \framebox{F}}
\newcommand{\opts}[4]{\vspace{5pt}\newline\makebox[0.2\linewidth][l]{\framebox{A}\quad#1}\qquad\makebox[0.2\linewidth][l]{\framebox{B}\quad#2}\qquad\makebox[0.2\linewidth][l]{\framebox{C}\quad#3}\qquad\makebox[0.2\linewidth][l]{\framebox{D}\quad#4}}
\newcommand{\cell}[1]{%
    \begin{tabular}{@{}c@{}}#1\end{tabular}%
}
\newcommand{\lateraleye}[1]{%
\scalebox{0.2}{
\tikzset{every picture/.style={line width=0.75pt}}
\begin{tikzpicture}[x=0.75pt,y=0.75pt,yscale=-1,xscale=1]
\draw  [draw=#1,line width=1.5]  (300,100.33) .. controls (326,122) and (352,135) .. (378,139.33) .. controls (352,143.67) and (326,156.67) .. (300,178.33);
\draw  [draw=#1,fill=#1,fill opacity=1 ] (308.94,116.33) .. controls (313.87,116.33) and (317.86,125.51) .. (317.85,136.83) .. controls (317.84,148.15) and (313.84,157.33) .. (308.91,157.33) .. controls (303.99,157.32) and (300,148.14) .. (300.01,136.82) .. controls (300.02,125.5) and (304.02,116.32) .. (308.94,116.33) -- cycle;
\draw  [draw=#1,draw opacity=0][line width=1.5]  (314.84,166.6) .. controls (311.87,164.64) and (309.14,162.18) .. (306.76,159.24) .. controls (295.12,144.82) and (296.6,124.33) .. (310.07,113.45) .. controls (311.48,112.32) and (312.96,111.33) .. (314.5,110.49) -- (331.14,139.55) -- cycle;
\draw  [draw=#1,line width=1.5]  (314.84,166.6) .. controls (311.87,164.64) and (309.14,162.18) .. (306.76,159.24) .. controls (295.12,144.82) and (296.6,124.33) .. (310.07,113.45) .. controls (311.48,112.32) and (312.96,111.33) .. (314.5,110.49);
\draw  [draw=#1,fill={rgb, 255:red, 255; green, 255; blue, 255 },fill opacity=1] (304.43,124.2) .. controls (306.09,124.25) and (307.32,128.01) .. (307.18,132.6) .. controls (307.05,137.19) and (305.59,140.88) .. (303.93,140.83) .. controls (302.27,140.78) and (301.03,137.02) .. (301.17,132.43) .. controls (301.31,127.83) and (302.76,124.15) .. (304.43,124.2) -- cycle;
\end{tikzpicture}
}\,}

\newcolumntype{L}[1]{>{\hsize=#1\hsize\raggedright\arraybackslash}X}
\newcolumntype{R}[1]{>{\hsize=#1\hsize\raggedleft\arraybackslash}X}

\pagenumbering{gobble}

\title{\vspace{-2\baselineskip}{\small \VAR{subtitle}}\\{\VAR{title}}}
\author{}
\date{}

\begin{document}

\maketitle

\begin{enumerate}
\BLOCK{ for block in blocks }
\item \BLOCK{ if metadata }\textbf{{\color{red} id:} \VAR{ block.bit.id }\\ {\color{red} name:} \VAR{ block.bit.name }\\ {\color{red} tags:} \VAR{ block.bit.tags|join(", ")|replace("#", "\#") } } \\ \vspace{5pt} \\ \BLOCK{ endif }\VAR{ block.render() }\vspace{15pt}
\BLOCK{ endfor }
\end{enumerate}

\end{document}