\documentclass{article}

\usepackage{standalone}
\usepackage[fontsize=13pt]{scrextend}
\usepackage[utf8]{inputenc}
\usepackage[italian]{babel}
\usepackage{geometry}
\usepackage{enumitem}
\usepackage{float}
\usepackage{tabularx}
\usepackage{multirow}
\usepackage{booktabs}
\usepackage{pgfplots}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
\usepackage{siunitx}

\geometry{a4paper, margin=3cm}

\sisetup{output-decimal-marker={,},exponent-product=\cdot,per-mode=fraction}

\DeclareSIUnit\atm{atm}
\DeclareSIUnit\dioptre{D}

\newcommand{\half}{$\frac{1}{2}$}
\newcommand{\vf}{\framebox{V} \framebox{F}}
\newcommand{\opts}[4]{\vspace{5pt}\newline\makebox[0.2\linewidth][l]{\framebox{A}\quad#1}\qquad\makebox[0.2\linewidth][l]{\framebox{B}\quad#2}\qquad\makebox[0.2\linewidth][l]{\framebox{C}\quad#3}\qquad\makebox[0.2\linewidth][l]{\framebox{D}\quad#4}}
\newcommand{\cell}[1]{%
    \begin{tabular}{@{}c@{}}#1\end{tabular}%
}
\newcolumntype{L}[1]{>{\hsize=#1\hsize\raggedright\arraybackslash}X}
\newcolumntype{R}[1]{>{\hsize=#1\hsize\raggedleft\arraybackslash}X}

\pagenumbering{gobble}

\title{\VAR{title}}
\author{\VAR{class_}}
\date{\VAR{date}}

\begin{document}

\maketitle

\begin{enumerate}
\BLOCK{ for question in questions }
\item \VAR{ question["bit"].render() }
\BLOCK{ endfor }
\end{enumerate}

\newpage

\begin{table}[H]
\centering
\small
\begin{tabularx}{\textwidth}{X*{\VAR{ questions|length }}{L{.2}@{/}R{.2}}}
\toprule
& \multicolumn{\VAR{ questions|length * 2 }}{c}{\textbf{Quesiti}}\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\multirow{2}{*}{\textbf{Descrittori}}
\BLOCK{ for question in questions }
& \multicolumn{2}{c}{\textsc{Q\VAR{ loop.index + 1 }}}
\BLOCK{ endfor } \\
\BLOCK{ for question in questions }
& Pt & Rif
\BLOCK{ endfor } \\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\textit{Comprendere}\footnotemark[1]
\BLOCK{ for question in questions }
& & \VAR{ question.metadata["pts"][0] }
\BLOCK{ endfor }\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\textit{Individuare}\footnotemark[2]
\BLOCK{ for question in questions }
& & \VAR{ question.metadata["pts"][1] }
\BLOCK{ endfor }\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\textit{Sviluppare}\footnotemark[3]
\BLOCK{ for question in questions }
& & \VAR{ question.metadata["pts"][2] }
\BLOCK{ endfor }\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\textit{Argomentare}\footnotemark[4]
\BLOCK{ for question in questions }
& & \VAR{ question.metadata["pts"][3] }
\BLOCK{ endfor }\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
Parziali
\BLOCK{ for question in questions }
& & \VAR{ question.metadata["total_pts"] }
\BLOCK{ endfor }\\
\cmidrule{1-\VAR{ questions|length * 2 + 1 }}
\textbf{Totale} & \multicolumn{\VAR{ questions|length * 2 }}{r}{\textbf{\VAR{ total_pts }}}\\
\bottomrule
\end{tabularx}
\end{table}

\begin{table}[H]
\centering
\small
\begin{tabularx}{\textwidth}{X*{16}{c}}
\toprule
\textbf{Punti} & \cell{0\\9} & \cell{10\\19} & \cell{20\\27} & \cell{28\\35} & \cell{36\\41} & \cell{42\\49} & \cell{50\\56} & \cell{57\\63} & \cell{64\\69} & \cell{70\\74} & \cell{75\\79} & \cell{80\\84} & \cell{85\\89} & \cell{90\\94} & \cell{95\\100}\\
\midrule
\textbf{Voto} & 3 & 3\half & 4 & 4\half & 5 & 5\half & 6 & 6\half & 7 & 7\half & 8 & 8\half & 9 & 9\half & 10\\
\bottomrule
\end{tabularx}
\end{table}

\footnotetext[1]{Analizzare la situazione problematica, identificare i dati, interpretarli e formalizzarli in linguaggio matematico.}
\footnotetext[2]{Mettere in campo strategie risolutive attraverso una modellizzazione del problema e individuare la strategia pi\'u adatta.}
\footnotetext[3]{Risolvere la situazione problematica in maniera coerente, completa e corretta, applicando le regole ed eseguendo i calcoli necessari.}
\footnotetext[4]{Commentare e giustificare opportunamente la scelta della strategia applicata, i passaggi fondamentali del processo esecutivo e la coerenza dei risultati.}

\end{document}