\documentclass{article}

\usepackage{standalone}
\usepackage[fontsize=13pt]{scrextend}
\usepackage[utf8]{inputenc}
\usepackage[italian]{babel}
\usepackage{geometry}
\usepackage{enumitem}
\usepackage{float}
\usepackage{tabularx}
\usepackage{multirow}
\usepackage{booktabs}
\usepackage{pgfplots}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{amsfonts}
\usepackage{siunitx}

\geometry{a4paper, margin=3cm}

\sisetup{output-decimal-marker={,},exponent-product=\cdot,per-mode=fraction}

\DeclareSIUnit\atm{atm}
\DeclareSIUnit\dioptre{D}

\newcommand{\half}{$\frac{1}{2}$}
\newcommand{\vf}{\framebox{V} \framebox{F}}
\newcommand{\opts}[4]{\vspace{5pt}\newline\makebox[0.2\linewidth][l]{\framebox{A}\quad#1}\qquad\makebox[0.2\linewidth][l]{\framebox{B}\quad#2}\qquad\makebox[0.2\linewidth][l]{\framebox{C}\quad#3}\qquad\makebox[0.2\linewidth][l]{\framebox{D}\quad#4}}
\newcommand{\cell}[1]{%
    \begin{tabular}{@{}c@{}}#1\end{tabular}%
}
\newcolumntype{L}[1]{>{\hsize=#1\hsize\raggedright\arraybackslash}X}
\newcolumntype{R}[1]{>{\hsize=#1\hsize\raggedleft\arraybackslash}X}

\pagenumbering{gobble}

\title{Problem Set}
\author{}
\date{}

\begin{document}

\maketitle

\begin{enumerate}
\BLOCK{ for question in questions }
\item \VAR{ question["bit"].render() }
\BLOCK{ endfor }
\end{enumerate}

\end{document}